<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <h1>Root App Component</h1>
  <text-input v-model="name" />
  <p>{{ name }}</p>
</template>

<script>
import TextInput from './components/TextInput.vue'
  //import MainMenu from './components/MainMenu.vue'
  // import ComponentA from './components/ComponentA.vue'
export default {
  name: 'App',
  components: {
    TextInput,
    //MainMenu,
    // ComponentA,
  },
  data() {
    return {
      name:''
    }
  },
  // data:()=> {
  //   return {
  //     name:'',
  //     isMenuOpen:false,
  //     username: 'mark',
  //     password: '12345678'
  //   }
  // },
  // methods: {
  //   closeMenu(data) {
  //     this.isMenuOpen = false,
  //     this.name = data
  //   }
  // },
  // provide() {
  //   return{
  //     username: this.username + this.password
  //   }
  // }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
